<div nz-row nzGutter="10">
  <div nz-col nzSpan="4" class="side-bar">
    <button nz-button nzType="primary" (click)="toggleCollapsed()">
      <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
    </button>
    <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="Quản lí phân quyền" nzIcon="appstore">
        <ul>
          <li nz-menu-item [routerLink]="['/pages/auth-manage/sys-role']">Quản lí vai trò</li>
          <li nz-menu-item [routerLink]="['/pages/auth-manage/sys-action']">Quản lí hành động</li>
          <li nz-menu-item [routerLink]="['/pages/auth-manage/sys-module']">Quản lí module</li>
          <li nz-menu-item [routerLink]="['/pages/auth-manage/sys-user']">Quản lí người dùng</li>
        </ul>
      </li>
      <li nz-menu-item (click)="logout()">Logout</li>
    </ul>
  </div>
  <div nz-col nzSpan="20">
    <router-outlet></router-outlet>
  </div>
</div>
